/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.matrix-row-container {
    display: flex;
    flex-direction: column;
}

.matrix-container {
    display: flex;
}